body {
  margin: 0;
}
.skills {
  background: #081b29;
  padding: 10px;
}
.main-text{
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px;
  font-size: 20px;
  text-align: center;
  line-height: 0.2;
}
.main-text span{
  text-transform: uppercase;
  font-size: 15px;
  color: rgba(0, 255, 255, 0.521);
  text-shadow: none;
}
.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skill-bar {
  margin-bottom: 2rem;
}

.skill-main h3 {
  margin-bottom: 2rem;
  font-size: normal;
  text-align: center;
  color: aliceblue;
}
.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background: rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;

}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: aqua;
  border-radius: 10px;
  box-shadow: 0 0 10px aqua;

}

.skill-bar .bar .html {
  width: 78%;
  animation: html 2s;
  -webkit-animation: html 2s;
}

.skill-bar .bar .js {
  width: 60%;
  animation: js 3s;
  -webkit-animation: js 3s;
}
.skill-bar .bar .react {
  width: 83%;
  animation: recat 4s;
  -webkit-animation: recat 4s;
}
.skill-bar .bar .fsd {
  width: 83%;
  animation: fsd 5s;
  -webkit-animation: fsd 5s;
}
@keyframes morph {

  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  30% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;

  }

  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;

  }

  80% {
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;

  }
}

@keyframes html {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }

  100% {
    width: 68%;
  }
}

@keyframes js {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}

@keyframes bootstrap {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes recat {
  0% {
    width: 0;
  }

  100% {
    width: 88%;
  }
}

@keyframes spring {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes fsd {
  0% {
    width: 0;
  }

  100% {
    width: 83%;
  }
}

.skill-main p {
  color: white;
  font-size: large;
}

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.box {
  position: relative;
  margin: 10px 0;
  flex: 1 1 15rem;
}

.box .text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.box .text big {
  font: 400px;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .text small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .points {
  width: 2px;
  height: 10px;
  background-color: rgb(7, 7, 7);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked{
  animation: glow 0.4s linear forwards;
      animation-delay: calc(var(--i)*0.02s);
}

@keyframes glow {
  0% {
    background: rgb(0, 0, 0);
    box-shadow: none;
  }

  100% {
    background: aqua;
    box-shadow: aqua;

  }
}

@media(max-width:768px) {
  .skill-main {
    grid-template-columns: 1fr;
  }
}
